@charset "UTF-8";

@media (min-width: 768px) and (max-width: 992px){
    main{
        background: linear-gradient(to top, #AFE3C0, #8963BA);
    }
    section{
        width: 70vw;
        
    }
    .imagem{
        float: left;
        height: 100%;
        width: 20vw;
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .form{
        float: right;
        width: 50vw;
    }

    .back_inputs, input[type=submit]{
        width: 45vw;
        margin: 20px;
    }
    form a{
        margin-top: 5%;
    }
    .input[type=submit]{
        font-size: 22px;
    }
}
@media (min-width: 992px){
    main{
        background: linear-gradient(to top, #AFE3C0, #8963BA);
    }
    section{
        width: 90vw;
    }
    .imagem{
        float: left;
        height: 100%;
        width: 30vw;
    }

    form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form{
        float: right;
        width: 60vw;
    }
    .back_inputs, input[type=submit]{
        width: 55vw;
    
    }
    input[type=submit]{
        height: 7vh;
        font-size: 22px;
    }
    
}