@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
   --roxo_forte: #54428E;
   --roxo_fraco: #8963BA;
   --verde_fraco: #AFE3C0;
   --verde_medio: #90C290;
   --verde_musgo: #688B58;
}  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--roxo_fraco);
}

section {
    overflow: hidden;
    width: 95vw;
    height: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.imagem {
    background-image: url(../imagens/abstract_pattern_design_background_2007.jpg);
    background-size: cover;
    height: 200px;
}


h1 {
    font-size: 1.5em;
    padding-top: 3%;
}

h1,
p {
    text-align: center;
    margin-bottom: 5px;
}


form {
    margin: 5px;
    
}

.back_inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    gap: 1%;
    background-color: var(--roxo_fraco);
}

.back_inputs input{
    width: 93%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}
i{
    font-size: 25px;
}
input[type=submit]{
    width: 90vw;
    border-radius: 5px;
    border: none;
    background-color: var(--verde_medio);
    height: 5vh;
}
form a{
    text-decoration: none;
    text-align: center;
}